@font-face {
  font-family: 'ShelleyAllegro';
  src: url('../fonts/ShelleyAllegro.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ShelleyAllegro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ShelleyAllegro.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ShelleyAllegro.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ShelleyAllegro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ShelleyAllegro.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: url('../images/bg.png');
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	position: relative;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 2%;
	height: 100%;
	position: relative;
	border-radius: 10px;
	color: #404040;
}
a {
	color: #cea570;
	font-size: 1.2em;
	letter-spacing: 0.5px;
	padding: 0 5px;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	 	 -moz-transition: all 0.2s linear;
		 			transition: all 0.2s linear;
}
a:hover {
	text-decoration: underline;
	color: #404040;
}
body {
	border: 10px solid #E9E9E9;
}
.home-infos {
	position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 280px;
	text-align: center;
}
.home-time {
	margin-top: 40px;
	font-size: 50px;
	font-weight: 100;
}

/*
* Typography
*/
h1 {
	font-family: 'ShelleyAllegro', Times, serif;
	font-size: 10em;
}

.box {
	background: #fff;
	padding: 40px 80px;
	display: inline-block;
	border: 1px solid #cea570;
}
.footer {
	width: 100%;
	position: absolute;
	bottom: 15px;
	vertical-align: top;
}
.footer .copy {
	position: absolute;
	right: 40px;
	top: 0;
}
