@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
@font-face {
  font-family: 'ShelleyAllegro';
  src: url('../fonts/ShelleyAllegro.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ShelleyAllegro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ShelleyAllegro.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ShelleyAllegro.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ShelleyAllegro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ShelleyAllegro.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
	position: relative;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	position: relative;
	color: #404040;
}
body {
	background: url('../images/bg.png');
	/*border: 20px solid #cea570;*/
  border: 20px solid #404040;
	padding: 3%;
}
header a {
	color: #404040;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1px;
	padding: 0 15px;
}
header a::after {
  content: ' • ';
  margin-left: 27px;
  text-decoration: none;
}

header a:last-child::after {
  content: '  ';
}

a {
	color: #404040;
	padding: 0 5px;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	 	 -moz-transition: all 0.2s linear;
		 			transition: all 0.2s linear;
}
a:hover {
	text-decoration: underline;
	color: #cea570;
}
.home-infos {
	position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 280px;
	text-align: center;
}
.page-infos {
	text-align: left;
	width: 98%;
	margin: 80px auto;
}
.home-time {
	margin-top: 40px;
	font-size: 50px;
	font-weight: 100;
}

/*
* Typography
*/
h1 {
	font-family: 'ShelleyAllegro', Times, serif;
	font-size: 10em;
	color: #404040;
	-webkit-transition: all 0.2s linear;
		 -moz-transition: all 0.2s linear;
					transition: all 0.2s linear;
}

h1:hover {
  color: #cea570;
}
.box {
	background: #fff;
	padding: 40px 80px;
	display: inline-block;
	border: 1px solid #cea570;
}
.icon-instagram {
  background: url('../images/icon_instagram.png');
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
}
.footer {
	width: 100%;
	position: absolute;
	bottom: 15px;
	vertical-align: top;
}
.footer .copy {
	position: absolute;
	right: 80px;
	top: 0;
}

@media only screen and (max-width:720px){
  .footer a,
  .copy,
  header a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  header a::after {
    content: ' ';
  }
  html, body {
    height: auto;
  }
  .home-infos {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
  }
  h1 {
    display: inline-block;
    font-size: 4.5em;
    line-height: .8;
    margin: 40px auto 10px auto;
    margin-left: -20px;
  }
  .footer {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 40px;
  }
  .footer .copy {
    position: relative;
    right: 0;
  }
  .home-time {
    font-size: 40px;
  }
 }
